<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/menu.css">
    <title>Document</title>
</head>
<body>
    <div id="navbar">
        <div id="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Buyer</a>
                    <ul class="sub-menu">
                        <li><a href="/createbuyer">Create Buyer</a></li>
                    </ul>
                    </li>
                    <li><a href="#">Bán hàng</a>
                    <ul class="sub-menu">
                        <li><a href="/createinvoice">Tạo invoice</a></li>
                        <li><a href="/invoice">List Invoice</a></li>
                    </ul>
                    </li>
                    <li><a href="#">Hàng Hóa</a>
                    <ul class="sub-menu">
                        <li><a href="/createproduct">Tạo hàng hóa</a></li>
                        <li><a href="/createcategory">Tạo loại hàng hóa</a></li>
                        <li><a href="/dansachhanghoa">Danh sách hàng hóa</a>
                        <li><a href="/danhsachloaihanghoa">Danh sách loại hàng hóa</a>
                        </li>
                    </ul>
                    </li>
                    <li><a href="#">Báo cáo</a>
                        <ul class="sub-menu">
                            <li><a href="#">Doanh thu</a></li>
                            <li><a href="#">Hàng tồn kho</a></li>
                            <li><a href="#">Hàng bán chạy</a>
                            <li><a href="#">Hàng bán chậm</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
    </div>
</body>
</html>